@import "../../global.scss";

.topbar{
    width: 100%;
    height: 70px;
    background-color: white;
    color: $maincolor;
    position: fixed;
    top: 0;
    z-index: 3;
    // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 2s ease;

    @include mobile{
        height: 50px;
    }
    .wrapper{
        padding: 10px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .left{
            display: flex;
            align-items: center;
            .logo{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-right: 50px;
                text-decoration: none;
                color: inherit;
                text-align: start;

                @include mobile{
                    font-size: 12px;
                }

                .logoImg{
                    width: 90px;
                    @include mobile{
                        width: 70px;
                    }
                }
                .logo-1{
                    // letter-spacing: 3px;
                    // margin-left: 5px;
                    font-family: "Orbitron", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 600;
                    // font-style: normal;
                }
                .logo-2{
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: "Orbitron", sans-serif;
                    font-optical-sizing: auto;
                    // font-weight: <weight>;
                    // font-style: normal;
                }
            }

            .itemcontainer{
                display: flex;
                align-items: center;

                @include mobile{
                    display: none;
                }

                .icon{
                    font-size: 18px;
                    margin-right: 5px;
                }

                span{
                    font-size: 15px;
                    font-weight: 500;
                }

                .contactBar{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .middle{
            margin-right: 20%;
            .links_list{
                display: flex;
                color: $maincolor;
                font-size: 16px;
                width: fit-content;
                font-weight: 500;
                @include mobile{
                    display: none;
                }
                li{
                    margin: 0 10px;
                }
            }
        }

        .right{
            display: none;
            @include mobile{
                display: block;
            }
            
            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $maincolor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active{
        background-color: $maincolor;
        color: white;

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: #fff;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}